.rounded-button {
    bottom: 20px;
    right: 20px;
    display: block;
    border-radius: 30%;
    width: 50px;
    height: 50px;
    background-color: rgba(180, 180, 180, 0.5);
    font: "Mono" bolder 40px;
    margin: 0 auto;
    padding: auto;
    color: rgba(255, 255, 255, 0.9);
}

.rounded-button:hover {
    background-color: rgba(116, 116, 116, 0.5);
    filter: contrast(180%);
}

.rounded-button span {
    margin: auto;
    width: 30px;
    height: 30px;
    display: flex;
    position: relative;
    padding: 32% 37%;
}

.rounded-button:active {
    background-color: rgba(116, 116, 116, 0.5);
    filter: contrast(180%);
    transform: scale(0.9);

    box-shadow: 0 1px #959595;
    transform: translateY(1px);
}
