.state {
    width: 0dvi;
    transition: all .25s ease-in;
    padding-right: 10px;
    display: block;
}

.state span {
    margin: 40px 0px;
}

.show, .hide {
    transition: all .35s ease-in-out;
}
.show {
    width: 6dvi;
    opacity: 1;
    letter-spacing: 0.05dvi;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
}

.hide {
    width: 0dvi;
    opacity: 0;
    letter-spacing: -2dvi;
    font-size: 10px;
    color: rgba(255, 255, 255, 0);
}


.overdue {
    background-image: linear-gradient(.25turn, rgba(192, 26, 26, 0.9), 85%, rgba(192, 28, 28, 0.1));
}

.upcoming {
    background-image: linear-gradient(.25turn, rgba(26, 95, 192, 0.9), 85%, rgba(28, 107, 192, 0.1));
}

.done {
    background-image: linear-gradient(.25turn, rgba(37, 162, 53, 0.9), 85%, rgba(31, 192, 28, 0.1));
}

.now {
    background-image: linear-gradient(.25turn, rgba(192, 120, 26, 0.9), 85%, rgba(192, 181, 28, 0.1));
}