.container {
    display: flex;
    width: 70%;
    margin-left: 20%;
    margin-right: 10%;
}

.container div {
    max-width: 400px;
    min-width: 40%;
    display: block;
    margin: 0 0;
}

h1 {
    font-size: 100px;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 0;
}

.exclamation {
    font-size: 400px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    margin-right: 0;
}

h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 40px;
}

h4 {
    margin: 5px auto;
    top: -60px;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 10px, 0);
    }
}

.taskCount {
    display: inline-block;
    font-size: 90px;
    color: rgba(142, 6, 6, 0.785);
    position: relative;
    margin-right: 34px;
    margin-top: 0;

    animation-name: bounce;
    -webkit-animation-name: bounce;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    -webkit-animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.end {
    position: relative;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}